.exe
.idea/
dist/
.mypy_cache/
.__mypycache__/
.pytest_cache/
*.coverage
src/*.egg-info/
.tox/
venv/
*.python-version
*.coverage*
*.pyc
*.csv
docs/source/*
make.bat
Makefile
.vscode
exdata
ppdata
post
