.exe
.idea/
.mypy_cache/
.__mypycache__/
.pytest_cache/
*.coverage
src/*.egg-info/
.tox/
venv/
*.python-version
*.coverage*
*.pyc
*.csv
docs/source/*
make.bat
Makefile
.vscode
.archive.dist
exdata
ppdata
post
docs-dev
build/
test_OMADS_COMPERHENSIVE.py